<!DOCTYPE html>
<html lang="en">
<head th:insert="partials/header:: header">
    <title>Title</title>
</head>
<body>
<div class="page-wrapper overflow-scroll">
    <nav th:insert="partials/navbar:: nav"></nav>
    <!--            USER PROFILE PAGE-->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Launch static backdrop modal
    </button>

    <!-- Modal -->
    <div class="modal fade modal-dialog modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
<!--                    <form th:action="@{}" th:method="post" class=" row d-flex justify-content-center p-5" th:object="${user}">-->
                    <form>
                        <h4>inside form</h4>
<!--                        <label for="username"></label>-->
<!--                        <input id="username" name="username" type="text" th:field="*{username}" placeholder="Username"/>-->
<!--                        <label for="email"></label>-->
<!--                        <input id="email" name="email" type="email" th:field="*{email}" placeholder="Email"/>-->
<!--                        <label for="zipcode"></label>-->
<!--                        <input id="zipcode" name="zipcode" type="text" th:field="*{zipcode}" placeholder="Zipcode"/>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container vh-100 ">
        <div th:text="${profile.picture}"></div>
        <h5>above this goes the user's picture if we choose</h5>

        <div th:text="${profile.username}"></div>
        <div th:text="${profile.email}"></div>

        <div th:text="${profile.zipcode}"></div>

    </div>


    <!--        FOSTER PAGE: CURRENT AND PREVIOUS FOSTERS-->
    <div class="container py-5 my-3 vh-100">
        <div class="column foster-info d-flex text-center">
            <div th:object="${current}" class=" current-foster row gap-5 px-5 justify-content-center" style="width:50%">
                <h2 class="text-center">Current Foster</h2>
                <div>
                    <img class="current-foster-pet-pic" src="/img/dogkiss.jpeg" style="height: 50px; width: 50px">
                    <h4 th:text="${current.name}"></h4>
                </div>
                <button style="width: 50%">Complete Foster</button>
            </div>
            <div class="previous-foster d-flex row px-2" style="width:50%">
                <div th:each="pet : ${pets}" >
                    <h2 class="text-center">Previous Fosters</h2>
                    <div class="column text-center" style="width: fit-content">
                        <img class="previous-foster-pet-pic" src="/img/dogkiss.jpeg" style="height: 50px; width: 50px"
                             alt="previous-foster-pet-image">
                        <h4 th:if="${pet.name != null}" th:text="${pet.getName()}"></h4>
                    </div>
                </div>
                <div th:each="foster : ${fosters}">
                    <h5></h5>
                </div>
            </div>
        </div>
    </div>
    <!--FAVORITES PAGE-->
    <div class="container vh-100">
        <h1>FAVORITES PAGE</h1>
    </div>
    <!--    USERS REVIEWS PAGE-->
    <div>
        <h1>USER REVIEWS PAGE</h1>
    </div>
</div>

<footer th:insert="partials/footer:: footer"></footer>
</body>
</html>