
<div th:fragment="navbar">
    <nav class="navbar navbar-default bg-light mb-3 border">
        <div class="container-fluid">
            <div class="navbar-header">
<!--                <img> *INSERT LOGO HERE*-->
                <a class="navbar-brand" href="/home">Kyte Rescue</a>
            </div>
            <ul class="navbar-nav navbar-right navbar-expand">
                <li><a href="/browse">Browse</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/partners">Partners</a></li>
<!--                *PROFILE PIC LOGO*-->
                <nav>
                    <ul>
                        <!-- More links here... -->
                        <li>
                            <form th:action="@{/logout}" th:method="post">
                                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </ul>
        </div>
    </nav>
</div>


