<!DOCTYPE html>
<html lang="en">
<head th:insert="~{partials/header :: header}">
    <title>Title</title>
</head>
<body>
<nav th:insert="~{partials/navbar :: nav}"></nav>
<div th:insert="~{partials/modal}"></div>
<div class="page-wrapper ">
    <div class="container my-5 p-5 d-flex justify-content-center">
        <div class="row d-flex justify-center row-gap-3" >
            <h3>Login</h3>
<!--                                                original version-->
<!--                <form th:action="@{/login}" method="post" class=" row d-flex justify-content-center p-5 ">-->
<!--                    <h6>Username:</h6>-->
<!--                    <label for="username"></label>-->
<!--                    <input id="username" name="username" type="text" placeholder="username"/>-->
<!--                    <h6>Password:</h6>-->
<!--                    <label for="password"></label>-->
<!--                    <input id="password" name="password" type="password" placeholder="password"/>-->
<!--                    <input type="submit" class="" value="Log In" />-->
<!--                    <a href="/sign-up" >Not a Member? Sign up here!</a>-->
<!--                </form>-->

            <form th:action="@{/login}" method="post" class=" row d-flex justify-content-center p-5 " id="form">
                <h6>Username:</h6>
                <label for="username"></label>
                <input id="username" name="username" type="text" placeholder="username"/>
                <span id="usernameError" class="error text-danger"></span>
                <br>

                <h6>Password:</h6>
                <label for="password"></label>
                <input id="password" name="password" type="password" placeholder="password"/>
                <span id="passwordError" class="error text-danger"></span>
                <br>

                <input type="submit" class="" value="Log In" />
                <a href="/sign-up" >Not a Member? Sign up here!</a>
            </form>

        </div>
    </div>
  </div>
<div th:insert="~{partials/footer :: footer}"></div>
<script src="/js/login-validation.js"></script>
</body>
</html>