<!DOCTYPE html>
<html lang="en">
<head th:insert="~{partials/header:: header}">
    <title>Title</title>
</head>
<body>
<nav th:insert="~{partials/navbar:: nav}"></nav>

<div class="container">
    <div th:text="${profile.picture}"></div>
    <h5>above this goes the user's picture if we choose</h5>

    <div th:text="${profile.username}"></div>
    <div th:text="${profile.email}"></div>

    <div th:text="${profile.zipcode}"></div>
    <a href="/profile/edit">Edit Profile</a>

</div>

<footer th:insert="~{partials/footer:: footer}"></footer>
</body>
</html>