<!DOCTYPE html>
<html lang="en">
<head th:insert="partials/header">
    <title>Title</title>
</head>
<body>
<nav th:insert="partials/navbar"></nav>
<div th:insert="partials/modal"></div>
<div class="page-wrapper ">
    <div class="container my-5 p-5 d-flex justify-content-center">
        <div class="row d-flex justify-center row-gap-3" >
            <h3>Login</h3>
            <form th:action="@{/signup}" method="post" class=" row d-flex justify-content-center p-5 ">
                <label for="fullName"></label>
                <input id="fullName" name="fullName" type="text" placeholder="Full Name"/>
                <label for="username"></label>
                <input id="username" name="username" type="text" placeholder="Username"/>
                <label for="password"></label>
                <input id="password" name="password" type="password" placeholder="Password"/>
                <label for="zipcode"></label>
                <input id="zipcode" name="zipcode" type="number" placeholder="Zipcode"/>
                <input type="submit" class="" value="Sign Up" />
                <a href="/login" >Already a Member? Login here!</a>
            </form>
        </div>
    </div>
</div>
<div th:insert="partials/footer"></div>
</body>
</html>