.page-wrapper{
    min-width: 100%;
    min-height: 100%;
    margin-top: 7rem;
}

body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.search {

    position: relative;
    display: flex;
    margin-bottom: 4em;

}

.searchTerm {
    width: 100%;
    border: 3px solid #de9a9a;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 17px 0 0 17px;
    outline: none;
    color: #e57777;
}

.searchTerm:focus{
    color: #de9a9a;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #de9a9a;
    background: #de9a9a;
    text-align: center;
    color: #ffffff;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card {
    background-color: rgba(222, 154, 154, 0);
    min-width: 111px;
    min-height: 111px;
    margin-top: 50px;
}


.card-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
}


/* Some basic CSS overrides */


button,
input,
select,
textarea {
    font: inherit;
}

a {
    color: inherit;
}


.profile-card {
    padding: 3rem;
    width: 90%;
    max-width: 300px;
    background-color: #ffeee1;
    border-radius: 16px;
    position: relative;
    border: 9px solid #ffeee1;
    background-clip: padding-box;
    text-align: center;
    color: #20254b;
    box-shadow: 0 4px 8px #86b7fe;
}

#profile-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-bottom: 4em;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;
    width: inherit;
}


.pet-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    text-align: center;
}

.profile-user-handle {
    color: #7d8396;
}



.pet-status{
    background-color: rgb(35, 158, 35);
    color: white;
    text-align: center;
}

.foster-btn, .save-btn, #confirmButton,.openModalButton, #submit-foster-btn, #view-foster-btn {
    color: #ffffff;
    border-radius: 9px;
    margin-top: 20px;
    border-color: #de9a9a;
    width: 154px;
    height: 41px;
    background: #de9a9a;
    border-style: unset;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s;

}

.foster-btn:hover, .save-btn:hover, #confirmButton:hover,.openModalButton:hover, #submit-foster-btn:hover, #view-foster-btn:hover{
    box-shadow: 0 0 10px 2px rgb(222, 154, 154);
    transform: scale(1.05);
    background: #f1d8da;
    color: #d8868d;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
}


.profile-actions{
    display: flex;
    justify-content: space-around;
    gap: 2em;
}


/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 53px;
    border-radius: 27px;
    text-align: center;
    position: relative;
    border-width: thick;
}



.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-image{
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
}

.foster-form{
    display: flex;
    flex-direction: column;
}

input#start, input#end{
    font: inherit;
    border-radius: 20px
}

.modal-name{
    font-family: 'Playfair', serif;
    font-weight: bold;
}


.categoryDropdown{
    border: 3px solid #de9a9a;
    /*border-right: none;*/
    padding: 5px;
    height: 36px;
    outline: none;
    color: #e57777;
    font: inherit;
     border-radius: 17px 0 0 17px;
}

.zipcode, .sizeDropdown, .ageDropdown{
    border: 3px solid #de9a9a;
    /*border-right: none;*/
    padding: 5px;
    height: 36px;

    outline: none;
    color: #e57777;
    font: inherit;
}

.pagination {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pagination button {
    margin: 0 10px;
}

button#forward, button#backward{
    width: 40px;
    height: 36px;
    border: 1px solid #de9a9a;
    background: #de9a9a;
    text-align: center;
    color: #ffffff;
    border-radius: 20rem;
    cursor: pointer;
    font-size: 20px;

}

#view-foster-btn{
    margin-bottom: 20px;
}

.browse-h1{
    color: #0e1843;
    font-family: 'Lora', serif;

}