body {
    overflow: scroll;
}

.user-profile-container {
    height: 100vh;
    top: 0;
    max-width: fit-content;
    position: absolute;
    overflow: hidden;
    background-image: url("../img/profile-bg5.jpg");
    background-position: center;
}


