.user-profile-container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 58vh;

}

.profile-pic-badge {
    column-gap: 50px;
    row-gap: 15px;
    border: #ffffff solid 5px;
    /*margin: 20px;*/
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #A3C5F7;
}

.user-info {
    padding-top: 3rem;
}

.edit-account-btn {
    align-items: center;
    color: var(--blush);
    background-color: var(--muave);
    text-align: center;
}

.user-btns {
    justify-content: center;
}
.user-badges {
    height: 12vh;
    width: 19rem;
    background: white;
    border-radius: 17px;
}
h4.badge-text {
    display: flex;
    justify-content: center;
}
.card.current-foster.row.gap-5.px-5.justify-content-center {
    width: 20%;
    margin-left: 4rem;
    height: 43vh;
}
input.btn.btn-primary {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 14rem;
    height: 43px;
}
button.btn.btn-secondary {
    margin-top: 2rem;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    background: aliceblue;
    border-radius: 11px;
}
.modal-header{
    background: aliceblue;
}
input.btn.btn-danger {
    width: 13rem;
    height: 48px;
}
.cards {
    display: none;
}

.active {
    display: block;
}