:root {
    --primary: rgba(189, 170, 255, 100);
    --secondary: #5D6BF8;
    --third: #e27fcb;
}

.page-wrapper {
    min-height: 100%;
}
/*--------------------- User-pic off canvas ----------*/
div#offcanvasRight {
    margin-top: 75px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 28px;
    border-style: solid;
    margin-right: 5px;
}
.offcanvas-backdrop.show {
    opacity: 0;
}
.user-img{
    height: 150px;
    width: 160px;
    border-radius:50%;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;

}
.offcanvas-header .btn-close {
    margin-top: -140px !important;
}

/*---------------  User-pic Shape -----------------*/
button.shape {
    right: 17px;
}

.shape {
    background: url(../img/img.jpeg);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 60px;
    transition: all 1s ease-in-out;
    width: 60px;
    z-index: 5;
    position: absolute;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

@keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
/*-------------------------- User Pic border color below ----------------*/
.oogla {
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 65px;
    transition: all 1s ease-in-out;
    width: 69px;
    z-index: 3;
}
button.shape{
    border-style: none;
}
/*Main Body off-canvas profile nav*/
hr.offcanvas-line {
    width: 92%;
    margin-left: 22px;
    margin-top: -9px;
    border-top: 3px solid #151212;
    border-radius: 3px;
}

h2.username {
    margin-top: 96px;
}
/*edit modal*/
.form-control {
    width: 100%;
    min-width: 200px;
}
button.btn {
    width: 100%;
}
svg.edit {
    width: 29px;
    margin-left: -35px;
    margin-right: 16px;
}
/*border and transitions on modals off-canvas*/
.hero {
    border-style: solid;
    border-radius: 6px;
    height: 50px;
    color: #808080a8;
}
.hero:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Modal Buttons */
button.btn {
    border-style: none;
    transform: scale(1.11);
}
button.btn.btn-primary {
    width: 28%;
}
button.btn.btn-secondary {
    width: 28%;
    margin-right: 4%;
    height: 50px;
}
/*-------------  profile delete modal-------------*/
button.btn.btn-primary.hero {
    width: 26%;
    color: white;
}
svg.delete {
    width: 32px;
    margin-left: -35px;
    margin-right: 16px;
}
/*-------------  Badges Dropdown -------------*/

.dropdown-menu.show {
    display: block;
    width: 100% !important;
    overflow: scroll;
}

button.btn.dropdown-toggle.show {
    width: 100% !important;
}
button.btn.dropdown-toggle {
    width: 100% !important;
}
svg.shield {
    width: 33px;
    margin-left: -10px;
}
ul.dropdown-menu.show {
    position: absolute;
    inset: unset !important;
    transform: translate3d(-49.5px, 9.5px, 0px);
}