<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/header :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="partials/navbar :: nav"></nav>
    <form action="@{/about}" th:method="get"></form>
        <div class="container">
            <div class="Devs-container">
                <div class="profile">
                    <div class="profile-item--container">
                        <div class="profile-item"><p>Menu 1</p> </div>
                    </div>
                    <div class="profile-item--container">
                        <div class="profile-item"><p>Menu 2</p></div>
                    </div>
                    <div class="profile-item--container">
                        <div class="profile-item"><p>Menu 3</p></div>
                    </div>
                </div>
            </div>














            <h1 class="Title"> Our Mission </h1>
            <div class="blue-blob"></div>
                <div class="mission-stmt1 column">
                    <img class="pet-picture" src="/img/kitty.avif">
                        <p class="mission1"> At Kyte Rescue, our mission is to provide a safe and caring haven for animals facing hardship and uncertainty, while simultaneously uniting them with compassionate individuals and families willing to offer their homes and hearts. Our commitment is multi-faceted: we rescue animals from challenging situations, provide them with comprehensive care and rehabilitation, and advocate for their well-being. Through a network of dedicated foster families, we create loving, temporary homes that nurture our animal friends back to health and happiness. We're equally dedicated to education, aiming to raise awareness about responsible pet ownership, animal welfare, and the rewards of fostering. </p>
                </div>

                        <div class="mission-stmt2 column">
                             <img class="pet-picture2" src="/img/bnny.jpeg">
                                <p class="mission1"> Our ultimate goal is to find forever homes for our foster animals, ensuring each placement is a perfect match for both the pet and the family. Above all, we foster a sense of community among our volunteers, supporters, and foster families, coming together to make a positive impact. Join us in our mission to create a world where every animal is cherished, protected, and loved, enriching both their lives and ours."</p>
                        </div>
                                <div class="yellow-blob1"></div>
                                <div class="yellow-blob2"></div>
                                <div class="yellow-blob3"></div>
                                 <br>
                            <div class ="FAQ-page">
                                <h1 class="FAQ"> Frequently Asked Questions </h1>
                            </div>
<!--bootstrap accordian-->

            <div class="FAQ-questions">
                <div class="accordion FAQ" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                1. What are the benefits of fostering a pet?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Here are the benefits of Fostering an animal!</strong> Fostering a pet is a rewarding experience that saves lives, provides companionship, and offers a sense of fulfillment. It allows you to enjoy the perks of pet ownership without the long-term commitment, teaches responsibility, reduces stress, and often leads to successful adoptions. Fostering also contributes to overburdened shelters, creating a stronger sense of community among animal lovers. It's a flexible way to make a positive impact on animals in need and enrich your own life in the process.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2. What are the challenges of fostering a pet?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Fostering A pet is not for everyone. Here are some of the challenges that may come with such a big responsibility. </strong> Fostering a pet may include adapting to a temporary commitment, managing potential behavioral issues, and dealing with the emotional attachment when the foster pet finds a permanent home. Additionally, some pets may require special medical care or have specific needs that demand extra attention. Fostering can also be emotionally taxing for individuals who may become attached to the animals they care for but must eventually say goodbye. Nonetheless, with the right support and resources from animal rescue organizations, many of these challenges can be overcome, making the rewards of fostering well worth the effort.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3. What kind of pets can I foster?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>We have access to all animals on our site, however...</strong> The types of pets you can foster vary depending on the animal rescue shelter in your location. Common foster pets include cats and dogs of all ages and breeds, but you might also have the opportunity to foster small animals like rabbits, guinea pigs, birds, and reptiles. Some shelters even offer fostering for special-needs pets or animals with medical conditions. It's essential to establish and specify your preferences when visiting our site so that we can find the right fit for your fostering experience.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4. How do I prepare to foster a pet?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>It's important to be prepared.</strong> Preparing to foster a pet involves several key steps. Firstly, create a safe and welcoming space in your home for the animal, including appropriate bedding, food, and water. Familiarize yourself with the specific needs of the pet you'll be fostering, which may include medical requirements or behavioral considerations. Gather essential supplies, such as food, bowls, toys, and grooming tools. Lastly, communicate closely with the animal rescue organization to understand their expectations and guidelines, ensuring a smooth and positive fostering experience for both you and the pet.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                5. What do I need to provide for a foster pet?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Make your home inviting to your foster pets.</strong> To care for a foster pet, you'll need to provide a safe home, nutritious food, clean water, essential supplies like bowls and toys, necessary medical attention, social interaction, exercise, and ongoing communication with the rescue shelters. Tailoring your care to the pet's specific needs, whether it's a dog, cat, or another animal, ensures a comfortable and nurturing environment during their stay with you.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

                <!-- Background Blobs           <-->
                <div class="purple-blob1"></div>
                 <div class="red-blob2"></div>
                    <div class="grey-blob2"></div>
            <br>



        </div>
<div th:insert="~{partials/footer :: footer}"></div>
</body>
</html>